.profile-banner {
  display: grid;
  position: relative;
  grid-template-columns: 120px 676px;
  grid-template-rows: minmax(0px, auto);
  width: 796px;
  background-color: hsl(228, 45%, 25%);
  background-image: url("../../assets/images/texture2.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center 60%;
}
@media (max-width: 860px) {
  .profile-banner {
    max-width: 528px;
  }
}
@media (max-width: 540px) {
  .profile-banner {
    max-width: 100vw;
  }
}

.profile-banner-image-container {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 120px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.profile-banner-image-container .profile-banner-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-banner-image-container .edit-profile-image-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 6px;
  right: 6px;
  border-radius: 50%;
  background-color: none;
  border: none;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.profile-banner-image-container .edit-profile-image-button .edit-button-image {
  width: 65%;
  height: 65%;
  opacity: 0.75;
  -o-object-fit: contain;
     object-fit: contain;
}
.profile-banner-image-container .edit-profile-image-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.profile-banner-username {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  color: hsl(50, 46%, 95%);
  font-size: 20px;
  font-weight: 600;
  padding: 1rem;
}
@media (max-width: 860px) {
  .profile-banner-username {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    max-width: calc(100vw - 120px);
  }
}

.profile-banner-metrics-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  gap: 16px;
  padding: 0 1rem 1rem 1rem;
}
.profile-banner-metrics-container .profile-banner-metrics-item {
  display: flex;
  gap: 6px;
  color: hsl(50, 46%, 95%);
  align-items: center;
}
.profile-banner-metrics-container .profile-banner-metrics-item .profile-rating-metric {
  display: flex;
  align-items: center;
  gap: 6px;
}
.profile-banner-metrics-container .profile-banner-metrics-item .span-bold {
  font-weight: 600;
}
.profile-banner-metrics-container .profile-banner-metrics-item .profile-rating-icon-box {
  height: 18px;
  width: 18px;
}
.profile-banner-metrics-container .profile-banner-metrics-item .profile-rating-icon-box img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 860px) {
  .profile-banner-metrics-container {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 1rem;
    width: 528px;
    gap: 0;
  }
  .profile-banner-metrics-container .profile-banner-metrics-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3333333333%;
  }
}
@media (max-width: 860px) and (max-width: 540px) {
  .profile-banner-metrics-container .profile-banner-metrics-item {
    width: 33.3333333333vw;
  }
}
@media (max-width: 540px) {
  .profile-banner-metrics-container {
    max-width: 100vw;
  }
}

.profile-image-edit-form-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 99;
  background-color: rgba(26, 26, 26, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.3s ease-in-out;
  pointer-events: none;
}
.profile-image-edit-form-modal.modal-active {
  opacity: 1;
  pointer-events: all;
}

.profile-image-form-container {
  display: flex;
  position: absolute;
}
.profile-image-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 15%);
  padding: 1rem;
  gap: 0.625rem;
}
.profile-image-form-container form .profile-image-update-form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}
.profile-image-form-container form .profile-image-update-form-button {
  text-align: center;
  font-weight: 700;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
}
.profile-image-form-container form .profile-image-update-form-button.form-submit {
  background-color: hsl(0, 90%, 70%);
  color: hsl(50, 46%, 95%);
  border: none;
}
.profile-image-form-container form .profile-image-update-form-button.form-submit:hover {
  background-color: hsl(0, 90%, 65%);
}

.profile-follow-button-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  color: hsl(50, 46%, 95%);
}
@media (max-width: 540px) {
  .profile-follow-button-container {
    bottom: 25px;
    left: 0;
    z-index: 99;
    opacity: 0.75;
  }
}
.profile-follow-button-container .follow-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: hsl(50, 46%, 95%);
}
.profile-follow-button-container .follow-button .follow-right {
  height: 34px;
  aspect-ratio: 1/1;
  background-color: hsl(0, 90%, 70%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.profile-follow-button-container .follow-button .follow-left {
  padding: 0 16px 0 16px;
  height: 34px;
  width: 86px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 88%, 75%);
  font-weight: 600;
  background-color: hsl(0, 88%, 75%);
}/*# sourceMappingURL=ProfileBanner.css.map */