@import "./assets/styles/Variables";
@import "./assets/styles/Mixins";

body {
  background-color: $main-bg;
  min-height: 100%;
  line-height: 1;
}

.main-container {
  @include center-flexbox(column);
  width: 100%;
  min-height: 100vh;
  justify-content: flex-start;
}

* {
  box-sizing: border-box;
  font-family: "open-sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
}

body {
  margin: 0;
  background-color: $bg-light;
}

/* Resets the box size of every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html {
  height: 100%;
}

/* Matches the font of special elements to the rest of the page */
input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

/* Removes default bullet points from lists */
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
