@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

.slideshow {
  height: 100vh;
  width: 50vw;
  flex-shrink: 0;
  position: relative;
  @media (max-width: 890px) {
    display: none;
  }
  @media (max-width: 1320px) {
    height: 100vh;
    width: 50vh;
  }
}

.slide {
  @include center-flexbox(column);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
  opacity: 0;
  overflow: hidden;
  &.slide-active {
    opacity: 1;
  }
  .slide-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: slide-zoom 20s linear infinite;
    // transition: transform 20s ease;
    &.slide-active {
      transform: scale(90%);
    }
    @media (max-width: 1320px) {
      height: 110vh;
      width: 110vh;
    }
  }
}

@keyframes slide-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.feature-title-container {
  @include center-flexbox(column);
  display: flex;
  z-index: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: $btn-primary;
  transform: translateX(-100%);
  transition-delay: 0.5s;
  transition: 0.2s ease-in;
  overflow: hidden;
  opacity: 0;
  &.slide-active {
    opacity: 1;
    transform: translateX(0%);
  }
}

.feature-title {
  padding: 1rem;

  transform: translateY(100%);
  color: $text-light;
  transition: 0.5s ease-in;

  opacity: 0;
  &.slide-active {
    transform: translateY(0%);
    opacity: 1;
  }
}
