@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

.comment-list-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 626px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  gap: 1rem;
  padding: 1rem 2rem;
  max-width: 536px;
}
.comment-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 536px;
  color: $text-dark;

  .comment-profile-image {
    height: 24px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .comment-content {
    background-color: $bg-light;
    border-radius: 50px;
    padding: 8px 24px;
    h5 {
      margin: 0 0 0.25rem 0;
      font-size: 0.813rem;
      .comment-date {
        font-weight: 400;
        font-size: 0.813rem;
        color: $secondary-text;
        margin-left: 8px;
      }
    }
    p {
      font-size: 0.938rem;
      margin: 0;
      word-wrap: break-word;
      max-width: calc(45ch);
      line-height: 1.35rem;
    }
  }
}

.comment-null-container {
  @include center-flexbox(column);
  width: 100%;
  .comment-null {
    background-color: $bg-light;

    border-radius: 50px;
    padding: 8px 24px;
  }
}
