@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

.rating-container {
  @include center-flexbox(row);
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(52px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.rating-item {
  @include center-flexbox(row);
  height: 52px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
  &:hover,
  &.active {
    opacity: 1;
    .rating-selector {
      height: 30px;
      transition: 0.3s ease-in-out;
    }
  }
  &:hover {
    transform: translateY(-8px);
    .rating-selector {
      height: 35px;
      transition: 0.3s ease-in-out;
    }
  }
  @media (max-width: 584px) {
    width: calc(100% / 5);
    aspect-ratio: 1/1;
  }
}

.rating-selector {
  @include center-flexbox(row);
  height: 25px;
  transition: 0.2s ease-in-out;
  width: 100%;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
