@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  &:hover {
    opacity: 1;
    transition: opacity 0.3s;
    .rating-container,
    .card-user-info {
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 0.3s, transform 0.3s;
    }
  }
  .card-user-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    padding: 8px;
    opacity: 0;
    transform: translateY(-52px);
    transition: opacity 0.3s, transform 0.3s;
    .card-user-image {
      @include center-flexbox(row);
      height: 32px;
      width: 100%;
      border-radius: 50%;
      margin-right: 8px;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
    .card-user-username {
      color: white;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
