@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

.layout-container {
  @include center-flexbox(row);
  width: 100%;
}

main {
  @include center-flexbox(column);
  width: 100%;
  height: 100%;
}
.showcase-container {
  height: 100vh;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  .showcase-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  background-color: $bg-dark;
}

.home-form-container {
  @include center-flexbox(column);
  flex-grow: 1;
  .home-form {
    width: 450px;
    margin-bottom: 24px;
    .home-form-header {
      @include center-flexbox(row);
      margin-bottom: 24px;
      .form-selector {
        width: 225px;
        height: 75px;
        color: $text-dark;
        background-color: $btn-secondary;
        border: none;
        font-weight: 600;

        transition: 0.5s;
        transition-timing-function: ease-in;
      }
      .active {
        background-color: $btn-primary;
        color: $text-light;
        transition: 0.5s;
        transition-timing-function: ease-out;
      }
      .inactive:hover {
        cursor: pointer;
      }
    }
  }
}

.form-slider {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  transition: 0.5s;
  transition-timing-function: ease-out;
  &.login {
    justify-content: right;
    transition: 0.5s;
    transition-timing-function: ease-out;
  }
  &.signup {
    justify-content: left;
    transition: 0.5s;
    transition-timing-function: ease-out;
  }
}
