@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

.layout-container {
  @include center-flexbox(column);
  width: 100%;
}

.home-header {
  padding: 2rem 2rem 2rem 2rem;
  background-color: $secondary-bg;
  margin-top: 2rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.welcome {
  object-fit: fill;
  margin-bottom: 1rem;
}

.header-buttons {
  @include center-flexbox(row);
  width: 100%;
  .home-btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;

    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    width: 50%;
    font-weight: 600;
    &:hover {
      background-color: #cecece;
    }
  }
}

.sign-up-btn {
  border-radius: 0.3rem 0 0 0.3rem;
}

.login-btn {
  border-radius: 0 0.3rem 0.3rem 0;
}

.bg {
  @include center-flexbox(column);
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  opacity: 0.2;
  .bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    object-fit: cover;
    overflow: hidden;
    z-index: -2;
    img {
      width: 100%;
    }
  }
}
