@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

// .follow-list {
//   @include center-flexbox(column);
//   //   padding: 2rem;
//   z-index: 0;
//   @include respond-to(mobile) {
//     width: 100vw;
//   }

//   .follow-list-grid {
//     display: grid;
//     grid-template-columns: repeat(12, 60px);
//     gap: 6px;
//     @media (max-width: 860px) {
//       grid-template-columns: repeat(8, 60px);
//     }
//     @media (max-width: 584px) {
//       grid-template-columns: repeat(8, 60px);
//     }
//   }
// }

// .followed-user-card {
//   @include center-flexbox(row);
//   justify-content: flex-start;
//   position: relative;
//   .followed-user-card-left {
//     overflow: hidden;
//     height: 60px;
//     border-radius: 40px;
//     aspect-ratio: 1/1;
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }
//   .followed-user-card-right {
//     @include center-flexbox(column);
//     width: 100%;
//     max-width: 200px;
//     color: $text-light;

//     .followed-user-card-right-top {
//       @include center-flexbox(row);
//       justify-content: flex-start;
//       font-size: 14px;
//       width: 100%;
//       padding-left: 8px;
//       margin-bottom: 0.25rem;
//       font-weight: 600;
//     }
//     .followed-user-card-right-bottom {
//       @include center-flexbox(row);
//       justify-content: flex-start;
//       font-size: 12px;
//       width: 100%;
//       padding-left: 8px;
//     }
//   }
// }

// .follower-icon-box {
//   position: absolute;
//   height: 18px;
//   width: 18px;
//   bottom: -2px;
//   right: -2px;
//   img {
//     max-width: 100%;
//     max-height: 100%;
//     object-fit: contain;
//   }
// }

.follow-list {
  @include center-flexbox(row);
  //   padding: 2rem;
  z-index: 0;
  width: 100%;
  width: 796px;
  justify-content: space-between;
  @include respond-to(tablet) {
    max-width: 528px;
  }
  @include respond-to(mobile) {
    width: calc(100vw - 16px);
  }

  .follow-list-grid {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    gap: 16px;
    width: 720px;
    @include respond-to(tablet) {
      gap: 16px;
    }

    // **disable scrollbar
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.followed-user-card {
  @include center-flexbox(row);
  justify-content: flex-start;
  position: relative;
  height: 76px;
  width: 76px;
  .followed-user-card-left {
    overflow: hidden;
    height: 76px;
    border-radius: 40px;
    aspect-ratio: 1/1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .followed-user-card-right {
    @include center-flexbox(column);
    width: 100%;
    max-width: 200px;
    color: $text-light;

    .followed-user-card-right-top {
      @include center-flexbox(row);
      justify-content: flex-start;
      font-size: 14px;
      width: 100%;
      padding-left: 8px;
      margin-bottom: 0.25rem;
      font-weight: 600;
    }
    .followed-user-card-right-bottom {
      @include center-flexbox(row);
      justify-content: flex-start;
      font-size: 12px;
      width: 100%;
      padding-left: 8px;
    }
  }
}

.follower-icon-box {
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: -2px;
  right: -1px;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.follow-list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 76px;
  min-width: 38px;
  @include respond-to(mobile) {
    display: none;
  }
  .follow-button-left,
  .follow-button-right {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-light;
    font-weight: 700;
    background-color: $text-dark;
    padding: 6px;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    opacity: 0;
    &.follow-button-active {
      opacity: 0.25;
      pointer-events: all;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}

.follow-list-snaps-inline {
  scroll-snap-type: inline mandatory;
}

.follow-list-snaps-inline > * {
  scroll-snap-align: start;
}
