.show-card-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 99;
  pointer-events: all;
  background-color: rgba(35, 47, 92, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}
.show-card-modal.show-card-modal-visible {
  opacity: 1;
}

.show-card-container {
  max-width: 1920px;
  max-height: 528px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 36px 1fr auto;
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1056px) {
  .show-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: 36px auto 1fr auto;
    max-width: 528px;
    max-height: 75%;
  }
}
@media (max-width: 540px) {
  .show-card-container {
    max-width: 100vw;
    max-height: calc(100vh - 48px);
  }
}

.show-card-image-container {
  aspect-ratio: 1/1;
  display: flex;
  position: relative;
  width: 528px;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.show-card-image-container .show-card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1056px) {
  .show-card-image-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (max-width: 540px) {
  .show-card-image-container {
    width: 100vw;
  }
}

.show-card-header {
  background-color: hsl(0, 90%, 70%);
  color: hsl(50, 46%, 95%);
  display: flex;
  max-width: 528px;
  flex-basis: 528px;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media (max-width: 1056px) {
  .show-card-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.show-card-header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}
@media (max-width: 540px) {
  .show-card-header-left {
    padding-left: 0.5rem;
  }
}
.show-card-header-left .show-card-header-left-image-container {
  height: 24px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 25px;
}
.show-card-header-left .show-card-header-left-image-container .show-card-header-left-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.show-card-header-right {
  background-color: hsl(201, 55%, 78%);
  display: flex;
  height: 36px;
  align-items: center;
  padding: 0 1rem;
  gap: 6px;
}
@media (max-width: 540px) {
  .show-card-header-right {
    padding: 0 0.5rem;
  }
}
.show-card-header-right .show-card-rating-icon-box {
  height: 18px;
  width: 18px;
}
.show-card-header-right .show-card-rating-icon-box .show-card-rating-icon {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.show-card-header-right .show-card-average {
  color: hsl(50, 46%, 95%);
  font-size: 16px;
  font-weight: 600;
}

.show-card-comment-list {
  background-color: hsl(50, 46%, 95%);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (max-width: 1056px) {
  .show-card-comment-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.show-card-comment-form {
  max-width: 528px;
  flex-basis: 528px;
  min-height: 44px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
@media (max-width: 1056px) {
  .show-card-comment-form {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.tag-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.tag-form-container .tag-list-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.tag-form-container .tag-list-container .tags-list {
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 6px;
  padding: 8px 38px 8px 8px;
  transition: 0.3s ease-in-out;
}
.tag-form-container .tag-list-container .tags-list.tag-active {
  opacity: 1;
  pointer-events: all;
}
.tag-form-container .tag-list-container .tags-list .tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  background-color: hsl(50, 46%, 95%);
  color: hsl(228, 45%, 10%);
  border: none;
  font-size: 14px;
  border-radius: 30px;
  gap: 4px;
}
.tag-form-container .tag-list-container .tags-list .tag .tag-delete {
  color: hsl(0, 90%, 70%);
  font-weight: 600;
}
.tag-form-container .tag-list-container .tags-list .tag .tag-delete:hover {
  cursor: pointer;
  color: hsl(0, 90%, 65%);
}
.tag-form-container .form-tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  gap: 0;
  overflow: hidden;
  padding: 0 8px 8px 8px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}
.tag-form-container .form-tags.tag-active {
  opacity: 1;
  pointer-events: all;
}
.tag-form-container .form-tags input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0 25px 25px 0;
  padding-left: 8px;
}
.tag-form-container .form-tags button {
  border-radius: 25px 0 0 25px;
  height: 100%;
  width: 20%;
  border: none;
}

.tags-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  min-width: 30px;
  width: 30px;
  padding: 6px;
  overflow: hidden;
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}
.tags-button-container:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.tags-button-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

#tag-form-container {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s ease-in-out;
}
#tag-form-container.tag-active {
  background-color: rgba(0, 0, 0, 0.5);
}

.show-card-mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  z-index: 9;
  background-color: hsl(228, 45%, 25%);
  display: none;
}
@media (max-width: 540px) {
  .show-card-mobile-nav {
    display: flex;
  }
}
.show-card-mobile-nav .nav-contents {
  color: hsl(50, 46%, 95%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 540px) {
  .show-card-mobile-nav .nav-contents {
    flex-shrink: 1;
    width: 100vw;
  }
}
.show-card-mobile-nav .nav-contents .nav-right {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.show-card-mobile-nav .nav-contents .nav-right .nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  color: hsl(50, 46%, 95%);
  height: 100%;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 600;
  background-color: hsl(228, 45%, 25%);
  transition: 0.2s ease-in-out;
}
.show-card-mobile-nav .nav-contents .nav-right .nav-btn:hover {
  cursor: pointer;
  background-color: hsl(0, 90%, 65%);
}
@media (max-width: 540px) {
  .show-card-mobile-nav .nav-contents .nav-right .nav-btn {
    padding: 0 8px;
  }
}
.show-card-mobile-nav .nav-contents .nav-left {
  display: flex;
  gap: 16px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
}
@media (max-width: 540px) {
  .show-card-mobile-nav .nav-contents .nav-left {
    padding-left: 8px;
  }
}

.nav-brand {
  height: 24px;
}/*# sourceMappingURL=SinglePost.css.map */