@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

.profile-page {
  @include center-flexbox(column);
  gap: 2rem;
}

.layout-container {
  @include center-flexbox(row);
  width: 100%;
}

.sp-modal-active {
  pointer-events: none;
}
