@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

.profile-page {
  @include center-flexbox(column);
  gap: 1rem;
  width: 100%;
}

.layout-container {
  @include center-flexbox(row);
  width: 100%;
}

.layout-container-column {
  @include center-flexbox(column);
  width: 100%;
  gap: 1rem;
}

.sp-modal-active {
  pointer-events: none;
}

.gallery-selectors {
  @include center-flexbox(row);
  position: relative;
  background-color: $btn-secondary;
  width: 796px;
  border-radius: 25px;
  overflow: hidden;
  @include respond-to(mobile) {
    width: calc(100vw - 16px);
  }
  .gallery-selectors-bg {
    z-index: 0;
    position: absolute;
    width: calc(796px / 3);
    height: 32px;
    background-color: $btn-primary;
    pointer-events: none;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    &.post-gallery {
      transform: translateX(-100%);
    }
    &.explore-gallery {
      transform: translateX(0%);
    }
    &.search-gallery {
      transform: translateX(100%);
    }
  }
  .gallery-selector {
    z-index: 1;
    width: calc(796px / 3);
    height: 32px;
    color: $text-dark;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-weight: 600;

    transition: 0.5s;
    transition-timing-function: ease-in;
    @include respond-to(mobile) {
      width: calc((100vw - 16px) / 3);
    }
  }
  .active {
    color: $text-light;
    transition: 0.5s;
    transition-timing-function: ease-out;
  }
  .inactive:hover {
    cursor: pointer;
  }
}

#gallery-selectors-bg {
  @include respond-to(mobile) {
    width: calc((100vw - 16px) / 3);
  }
}
