@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

form {
  // background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  width: 390px;
  @include respond-to(mobile) {
    gap: 12px;
    /*   width: 320px; */
    width: calc(100vw - 32px);
  }
  .form-input {
    padding: 12px;
    width: 100%;
    border: 1px solid black;
    outline: none;
    font-size: 1rem;
    border-radius: 25px;
    background-color: $bg-light;
    @include respond-to(mobile) {
      padding: 12px;
      font-size: 1rem;
    }
  }
  .form-button {
    text-align: center;
    font-weight: 700;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    &.form-submit {
      background-color: $btn-primary;
      color: $text-light;
      border: none;
      &:hover {
        background-color: $btn-primary-hover;
      }
    }
  }
}

.error-message-container {
  padding: 12px 12px 0 12px;
  .error-message {
    background-color: $danger;
    color: $text-light;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    line-height: 18px;
  }
}
