@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

.home-nav {
  @include center-flexbox(row);
  width: 100%;
  height: 48px;
  z-index: 9;
  @include respond-to(mobile) {
    flex-shrink: 1;
  }
  .home-nav-contents {
    color: $text-light;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    @include spread-flexbox();
    @include respond-to(mobile) {
      flex-shrink: 1;
      width: 100vw;
    }
    .nav-right {
      display: flex;
      gap: 16px;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      @include respond-to(mobile) {
        gap: 8px;
      }

      .nav-profile-picture {
        height: 2rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-right: 8px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      button {
        background-color: $btn-primary;
        border: none;
        color: $text-light;
        height: 100%;
        padding: 0 16px;
        font-size: 1rem;
        font-weight: 600;
        &:hover {
          cursor: pointer;
          background-color: $btn-primary-hover;
          transition: 0.2s ease-in-out;
        }
      }
    }

    .nav-left {
      display: flex;
      gap: 16px;
      height: 100%;
      justify-content: flex-start;
      align-items: center;
      padding-left: 24px;
      @include respond-to(mobile) {
        padding-left: 16px;
      }
    }
  }
}

.nav-brand {
  height: 25px;
}

.nav-greeting {
  @include respond-to(mobile) {
    display: none;
  }
}
