@import "../../assets/styles/Variables";
@import "../../assets/styles/Mixins";

nav {
  @include center-flexbox();
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  z-index: 9;
  background-color: $bg-dark;

  .nav-contents {
    color: $text-light;
    height: 100%;
    width: 100%;
    @include spread-flexbox();

    .nav-right {
      display: flex;
      gap: 16px;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      .nav-profile-picture {
        height: 2rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-right: 8px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .nav-btn {
        @include center-flexbox();

        border: none;
        color: $text-light;
        height: 100%;
        padding: 0 16px;
        font-size: 14px;
        font-weight: 600;
        background-color: $btn-primary;
        transition: 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: $btn-primary-hover;
        }
        &.login-nav {
          background-color: transparent;
          &:hover {
            background-color: $btn-secondary-hover;
          }
        }
      }
    }

    .nav-left {
      display: flex;
      gap: 16px;
      height: 100%;
      justify-content: flex-start;
      align-items: center;
      padding-left: 24px;
    }
  }
}

.nav-brand {
  height: 24px;
}
